


.campaign-manager-chart {
  height: 50vh;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; /* Ensure it's above the table */
}

.campaign-manager-table {
  height: 50vh;
  margin-top: 50vh; 
  overflow-y: auto;
  padding-bottom: 1rem; 
}



.campaign-list-item-input {
  border: none;
}

.campaign-list-item-select {
  border: none;
}

.campaign-list-item-input[type="number"] {
  width: 60px;  /* or any width you prefer */
}
